body{
  margin: 0px;
  padding: 0px;
  min-width: 400px;
}
h1{
  margin: 1.2rem;
  font-size: 3rem;
  font-family: cursive;
  text-align: center;
  color: pink;
}
h2{
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  color: pink;
}
p{
  font-size: 1.5rem;
}

/*Start of Navagation styles*/
nav{
  background-color: pink;
}
nav>ul{
	list-style-type: none;
	padding: 2% 0px 2% 0px;
	margin: auto;
  text-align: center;
	overflow: hidden;
}
nav>ul>li{
  display: inline;
  color: white;
  padding: 3%
}
a{

  text-decoration: underline;
  font-family: sans-serif;
  font-size: 1.5rem;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
/*End of Navagation styles*/

/*Start of main article*/
article{
  margin: 0px;
  padding: 0px;
}
article>figure{
  margin: 0;
  margin-left: 7%;
  margin-right: 7%;
  width: auto;
  min-width: 400px;
}
figcaption{
  display: none;
}
#banner-img{
  width: 100%;
}
article>p{
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}
/*End of main article*/

/*Start of section*/
section{
float: left;
}
section>article{
  float: left;
  width: 25%;
  margin: 1rem;
  padding: 1rem;
}

.cake-images{
  width: 100%;
}
/*End of section*/

.clear{
  clear: left;
}

footer{
  float: left;
  width: 100%;
  background-color: pink;
}

@media (min-width: 768px) and (max-width: 1023px){
h1{
  color: grey;
}
}
