body{
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
}
h1{
  margin: 10px;
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  color: pink;
}
h2{
  font-size: 26px;
  font-family: cursive;
  text-align: center;
  color: pink;
}
/*Start of Navagation styles*/
nav{
  background-color: pink;
}
nav>ul{
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	margin: auto;
	width: 200px;
	overflow: hidden;
}
nav>ul>li{
  float: left;
  color: white;
  margin: 15px 10px 15px 10px;
}
a{
  display: block;

  text-decoration: underline;
  font-family: sans-serif;
  font-size: 14px;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
/*End of Navagation styles*/

/*Start of main article*/
article{
  margin: 0px;
  padding: 0px;
}
article>figure{
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  min-width: 1000px;
}
#banner-img{
  width: 100%;
}
/*End of main article*/

footer{
  background-color: pink;
}
